@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    font-style: normal;
    font-display: auto;
    font-weight: 100 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/sora:vf@latest/latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply selection:text-white selection:bg-sky-600 text-gray-800;
}

p,
a,
span,
button {
  @apply selection:text-white selection:bg-amber-400;
}

.transition-300 {
  @apply transition-all ease-in-out duration-300;
}

.transition-500 {
  @apply transition-all ease-in-out duration-500;
}

.transition-1000 {
  @apply transition-all ease-in-out duration-1000;
}

.btn {
  @apply text-sm h-10 px-4 rounded-lg inline-flex items-center gap-2 md:gap-3 hover:gap-4 transition-300 cursor-pointer;
}

.btn-primary {
  @apply bg-sky-600 text-white hover:bg-sky-500 hover:shadow-xl;
}

.btn-light {
  @apply bg-gray-100 text-gray-800 hover:bg-white;
}

.badge {
  @apply inline-flex items-center rounded-md bg-sky-50 px-2 py-1 text-xs font-medium text-sky-600 ring-1 ring-inset ring-blue-700/10;
}
